<html>
	<head>
		<title>Djangogirl Day</title>
	</head>
	<body>
		<div>
			<h1><a href="https://tutorial.djangogirls.org/en/django_urls/">Django Girls Tutorial</a></h1>
		</div>

		<div>
			<p>Interesting!</p>
			<br />
			<em>Hello,I am Kathrine</em>
			<h2><a href="http://www.codecademy.com/tracks/web">HTML & CSS course on Code Academy</a></h2>
			<p>It's easy, so you can totally do it on your own, and even though it is totally optional it will save you even more time during the workshop so you can learn more about Django and Python :) </p>
			
			
			<br />
			<ul><li>first item</li><li>second item</li></ul>
		</div>

		<div>
			<h3><a href="https://github.com/Xiaotong713986/my-first-blog">My first blog</a></h3>
		</div>

		<div>
			<h3><a herf="http://xiaotong713986.pythonanywhere.com/">My online application</a></h3>

		<p>It's update now!</p>
		</div>
	</body>
</html>